@import 'animate.css/animate.css'

// variables!

body_color = #fff
body_selection = #7fbd42
body_background = #c0bfbf

h3_color = #ecf0f1
a_color = #111111
p_color = #5b5b5b
p_title_color = #000000

// base
html,body
  margin  0
  padding  0
  height  100%
  width  100%
  font-family  STHeiti,"Microsoft YaHei",MingLiu,"Helvetica Neue",Helvetica,Arial,sans-serif
body
  font-family  helvetica, arial, sans-serif
  font-size  12px
  color  a_color 
  background  url('../images/bg_body.png') repeat-x top center #c0bfbf

  selection
   background-color  body_background
   color  h3_color

h1
  font-size  72px
  line-height  82px
  letter-spacing  -2px
  margin-bottom  16px
  -webkit-margin-before  0

h2
  font-size  42px
  letter-spacing  -1px
  margin-bottom  8px

h3
  font-size  24px
  font-weight  normal
  margin-bottom  24px
  color  h3_color

hr
  visibility  hidden
  height  20px

ul
  list-style  none
  -webkit-margin-before  0
  -webkit-margin-after  0
  -webkit-padding-start  0

li
  margin-bottom  12px
  -webkit-margin-before  0
  -webkit-margin-after  0
  -webkit-padding-start  0

p
  margin  0 100px 12px
  line-height  22px
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color p_color 
  
p.title
  color p_title_color 
a
  color  a_color
  text-decoration  none
  border  none
image 
  border  none

.backbox
  background  url('../images/bg_sd.png') no-repeat top center
  background-size  cover
  // filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_sd.png', sizingMethod='scale')")
  // -ms-behavior url(backgroundsize.min.htc)
  
.hide_text
  display  none
.main
  width  100%
  margin  auto
  position  relative
  .header
    background  url('../images/bg_header.png') repeat-x
    height  72px
    .logo
      background  url('../images/head_logo.png') no-repeat
      background-size 42px 34px
      width  42px
      height 33px
      position absolute
      left  10%
      top  12px
      display  block
      // margin-left  -540px
    .nav
      position absolute
      right  10%
      top  22px
      width  170px
      height  40px
      // margin-right  -440px
      div
        display  inline-block
        width  85px
        float  left
        a
          display  block
          width  85px
          height 40px
          text-indent  -9999em
          overflow  hidden
          // background  url('../images/icons.png') no-repeat -267px 0px
          background  url('../images/nav_link.png') no-repeat 34px 0px
          background-size 131px 16px
      div.join
        a
          background-position  -52px 0px
  .slider
    margin  0 auto
    min-width  1000px
    position  relative
    // background url('../images/bg_show_01.gif') repeat-x bottom center #e6e6e6
    .show_01
      background  url('../images/show_01.png') no-repeat
      width  967px
      height 919px
      margin  0 auto
    .show_02
      background  url('../images/show_02.png') no-repeat center center
      width  995px
      height 919px
      margin  0 auto 0
    // .arrow
    //   background  url('../images/arrow_01.png') no-repeat
    //   position absolute
    //   width  216px
    //   height 151px
    //   bottom  5px
    //   left 50%
    //   margin-left  -108px
      
    .arrow
      background  url('../images/arrow_01x1.png') no-repeat
      position absolute
      width  178px
      height 124px
      bottom  5px
      left 50%
      margin-left  -89px
  .content
    margin  0 auto
    min-width  1000px
    .info
      background  url('../images/info.png') no-repeat
      width  995px
      height  327px
      margin  9px auto
      p
        display block
        padding-left 384px
        font-size 24px
        line-height 41px
        margin 0
        // letter-spacing -2px
      p.title
          font-size 26px
          line-height 55px
          padding-top 40px
          font-weight bold

    .home_team
      background  url('../images/home_team.jpg') no-repeat
      width  1295px
      height  472px
      margin  0 auto
      padding-top  668px
      padding-left 35px
      .team_info
        // background  url('../images/home_team_info.gif') no-repeat
        width  290px
        height  253px
        margin  0 auto
        p
          display block
          font-size 24px
          line-height 41px
          margin 0
          // letter-spacing -2px
        p.title
            font-size 26px
            line-height 55px
            padding-top 0px
            font-weight bold
    .map
      background  url('../images/map.gif') no-repeat -7px 0px
      width  995px
      height  326px
      margin  0 auto
      p
        display block
        padding-left 384px
        font-size 26px
        line-height 41px
        margin 0
      p.title
          line-height 55px
          padding-top 64px
          font-weight bold
  .footer
    background  url('../images/bg_foot.png') repeat-x
    height  90px
    padding-top  62px
    position  relative
    .gotten_logo
      position absolute
      left  50%
      top  63px
      margin-left  -400px
    .weixin
      position absolute
      left  50%
      top  53px
      margin-left  -226px
    .weichat
      position absolute
      left  50%
      top  53px
      margin-left  -127px
    .info
      background  url('../images/foot_info.png') no-repeat 0px 0px
      background-size 565px 58px
      position absolute
      left  50%
      top  65px
      margin-left  -170px
      width  600px
      height 70px
body.joinpage
  background  url('../images/bg_body_02.png') repeat-x top center #d7d7d7
  .backbox
    background  url('../images/bg_sd_02.png') no-repeat top center 
    background-size  cover
  .main
    .slider
      .arrow
          background  url('../images/arrow_02.png') no-repeat
          position absolute
          width  125px
          height 43px
          bottom  5px
          left 50%
          margin-left  -62px
  .content
    max-width  1200px
    min-width  960px
    margin 0 auto
    min-height 795px
    .job
      display  inline-block
      float left
      width  29%
      margin  80px 22px 30px
      vertical-align  top
      .title
        background  none repeat scroll 0 0 #cfcfcf
        box-shadow  3px 3px 3px  #aaa inset, -3px -3px 3px  #aaa inset
        border-radius  8px
        padding 5px 0 10px 5px
        width 100%
        height 178px
      .title_01
        background  url('../images/title_01.png') no-repeat center center
      .title_02
        background  url('../images/title_02.png') no-repeat center center
      .title_03
        background  url('../images/title_03.png') no-repeat center center
      .info
        background  none repeat scroll 0 0 #cfcfcf
        box-shadow  3px 3px 3px  #aaa inset, -3px -3px 3px  #aaa inset
        border-radius  8px
        width 100%
        height auto
        min-height 472px
        padding 5px 0 10px 5px
        margin-top  20px
        .position
          background  url('../images/job_title.png') no-repeat top left
          width  140px
          height  40px
          margin  22px auto 0
        .position02
          background-position  -140px 0px
        .position03
          background-position  -280px 0px
        .text
          width 100%
          font-size  13px
          p
            margin 0
            padding  0 10px
            line-height 22px
            color  #000000
            font-size 13px
          p.tip
            font-size 16px
            display block
            padding-top 10px
    .jobmail
      clear left
      a
        display block
        width  352px
        height  30px
        // background  url('../images/job_mail.png') no-repeat top center 
        margin 0 auto
        font-size 24px
        
html.no-boxshadow
  body.joinpage
    .content
      .job
        width 355px
        height 702px
        background  url('../images/bg_job.gif') no-repeat top center 
        .info
          background none

@media (min-height: 100px) and (max-height: 700px) 
  .main
    .slider
      .show_01
        background  url('../images/show_01x1.png') no-repeat center center
      .arrow
        background  url('../images/arrow_01x1.png') no-repeat
        position absolute
        width  178px
        height 124px
        margin-left  -89px

@media (min-width: 640px) and (max-width: 1350px) 
  .main
    .content
      .home_team
        background  url('../images/home_teamx1.jpg') no-repeat
        width  1084px
        height  472px
        padding-top 520px
      
