@import 'animate.css/animate.css'

// variables!

body_color = #fff
body_selection = #7fbd42
body_background = #c0bfbf

h3_color = #ecf0f1
a_color = #111111
p_color = #5b5b5b
p_title_color = #000000

// base
html,body
  margin  0
  padding  0
  height  100%
  width  100%
  font-family  STHeiti,"Microsoft YaHei",MingLiu,"Helvetica Neue",Helvetica,Arial,sans-serif
body
  font-family  helvetica, arial, sans-serif
  font-size  12px
  color  a_color 
  

  selection
   background-color  body_background
   color  h3_color

h1
  font-size  72px
  line-height  82px
  letter-spacing  -2px
  margin-bottom  16px
  -webkit-margin-before  0

h2
  font-size  42px
  letter-spacing  -1px
  margin-bottom  8px

h3
  font-size  24px
  font-weight  normal
  margin-bottom  24px
  color  h3_color

hr
  visibility  hidden
  height  20px

ul
  list-style  none
  -webkit-margin-before  0
  -webkit-margin-after  0
  -webkit-padding-start  0

li
  margin-bottom  12px
  -webkit-margin-before  0
  -webkit-margin-after  0
  -webkit-padding-start  0

p
  margin  0 100px 12px
  line-height  22px
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color p_color 
  
p.title
  color p_title_color 
a
  color  a_color
  text-decoration  none
  border  none
image 
  border  none

