doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 公式测试项目
    meta(name="keywords" content="公式测试")
    meta(name="description" content="公式测试")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    .backbox

      .main
        .header
          a.logo(href='index.html' title='果藤金融')
          .nav
            .homepage 
              a(href='index.html' title='首页') 首页
            .login
              a(href='login.html' title='登陆') 登陆
        .content
          .info
            div(id="messagesDiv")
            input(type="text" id="nameInput" placeholder="Name" )
            input(type="text" id="passInput" placeholder="Password")

        .footer
          .logo
            

          .info
      script(src="https://cdn.wilddog.com/js/client/current/wilddog.js")
      script(src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
      script(src='build/build.js')

